h1 {
  font-family: tahoma;
  font-size: 50px;
  color: blue;
}

p {
  font-family: cursive;
  font-size: 25px;
  color: black;
}

.butt {
  color: red;
}
.but {color: darkblue; }
body {
  background-color: #000000
}

.bum {
  font-size: 30px;
  color: white;
}
